{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Diary {% endblock %}</title>
</head>
<body>
{% block content %}
<form action="" method="post">
    {% for entry in tasklist %}
    {% csrf_token %}
    <p>Задача: <br> {{ entry.task }}</p>
    <p>Описание: <br> {{ entry.description }} </p>
    <p>Создано: <br>{{ entry.create_date }}</p>
    <input type="submit" name="{{entry.id}}" value="Выполнить" onclick="window.location.reload()">
</form>
{% endfor %}
{% endblock %}
</body>
</html>